---
---

body {
    font-family: 'Merriweather', serif;
    h1 {
        font-family: 'Playfair Display', serif;
    }
}

ul {
    list-style: none;
    margin-left: 0px;
}
li {
    border-bottom: 1px #d5d5d5 dashed;
    margin-bottom: 1px;
}